body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#header{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}
#header .active{
  color: rgb(255, 217, 0);
}
#header p{
  padding: 0px;
  margin: 0px;
}
#header img{
  width: 100px;
  box-shadow: 3px 3px 5px 0px;
}
#header .navbar-toggler:focus{
  box-shadow: none;
}
#header .navbar-light .navbar-toggler{
  border-color: white;
}
#header .collapse{
  flex-grow: unset;
}
#header a{
  color: white;
  font-size: 18px;
  padding: 10px;
}
#header a:hover{
  color: rgb(255, 217, 0);
  font-weight: bold;
}



#wallpaper img{
  width: 100%;
  margin-top: 81px;
}



#detail p{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
  text-align: center;
}



#about h2{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#about .line{
  width: 100%;
  height: 2px;
}
#about p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  font-size: 18px;
  min-height: 150px;
}
#about button{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
  background-color: #212529;
  color: #ffc107;
}
#about button:hover{
  background-color: #ffc107;
  color: #212529;
  border: 1px solid black;
}
#about button:focus{
  box-shadow: none;
}
#about img{
  width: 100%;
}



#testi h2{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#testi button{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
  background-color: #212529;
  color: #ffc107;
}
#testi button:hover{
  background-color: #ffc107;
  color: #212529;
  border: 1px solid black;
}
#testi button:focus{
  box-shadow: none;
}
#testi .line{
  width: 100%;
  height: 2px;
}
#testi p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  font-size: 16px;
}
#testi h5{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}



#product h2{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#product .line{
  width: 100%;
  height: 2px;
}
#product img{
  width: 100%;
}
#product h3{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#product button{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
  background-color: #212529;
  color: #ffc107;
}
#product button:hover{
  background-color: #ffc107;
  color: #212529;
  border: 1px solid black;
}
#product button:focus{
  box-shadow: none;
}



#contact h2{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#contact .line{
  width: 100%;
  height: 2px;
}
#contact label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
#contact input{
  background-color: rgb(245, 245, 245);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contact input:hover{
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#contact input:focus{
  box-shadow: none;
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#contact textarea{
  background-color: rgb(245, 245, 245);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contact textarea:hover{
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#contact textarea:focus{
  box-shadow: none;
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#contact button{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
  color: #ffc107;
}
#contact button:hover{
  background-color: #ffc107;
  color: #212529;
}
#contact button:focus{
  box-shadow: none;
}



#footer img{
  width: 130px;
}
#footer h2{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#footer p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}
#footer .copytext{
  font-size: 16px;
}



#aboutpage .emptydiv{
  height: 82px;
}
#aboutpage h2{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#aboutpage .line{
  width: 100%;
  height: 2px;
}
#aboutpage p{
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#aboutpage img{
  width: 100%;
}



#testipage .emptydiv{
  height: 82px;
}
#testipage .col-md-12{
  min-height: 508px;
}
#testipage h3{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#testipage label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
#testipage input{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#testipage input:hover{
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#testipage input:focus{
  box-shadow: none;
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#testipage textarea{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#testipage textarea:hover{
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#testipage textarea:focus{
  box-shadow: none;
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#testipage button{
  background-color: #212529;
  color: #ffc107;
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#testipage button:hover{
  background-color: #ffc107;
  color: #212529;
  border: 1px solid black;
}
#testipage button:focus{
  box-shadow: none;
}



#alltestipage .emptydiv{
  height: 82px;
}
#alltestipage .container{
  min-height: 484px;
}
#alltestipage h4{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#alltestipage h5{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#alltestipage p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  font-size: 17px;
}



#productpage .emptydiv{
  height: 82px;
}
#productpage .container{
  min-height: 508px;
}
#productpage img{
  width: 100%;
}
#productpage h2{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#productpage h4{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#productpage p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#productpage span{
  font-size: 20px;
}



#career .emptydiv{
  height: 91px;
}
#career h2{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#career span{
  color: #ffc107;
}
#career p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#career h3{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#career label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
#career input{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#career input:hover{
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#career input:focus{
  box-shadow: none;
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#career select{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#career select:hover{
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#career select:focus{
  box-shadow: none;
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#career textarea{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#career textarea:hover{
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#career textarea:focus{
  box-shadow: none;
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#career button{
  background-color: #212529;
  color: #ffc107;
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#career button:hover{
  background-color: #ffc107;
  color: #212529;
  border: 1px solid black;
}
#career button:focus{
  box-shadow: none;
}



#login .emptydiv{
  height: 82px;
}
#login .row{
  height: 508px;
}
#login h2{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#login label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
#login input{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#login input:hover{
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#login input:focus{
  box-shadow: none;
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
}
#login button{
  background-color: #212529;
  color: #ffc107;
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#login button:hover{
  background-color: #ffc107;
  color: #212529;
  border: 1px solid black;
}
#login button:focus{
  box-shadow: none;
}
#login th{
  border: unset;
}
#login a{
  text-decoration: none;
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#login a:hover{
  color: #212529;
  background-color: rgb(224, 224, 224);
}
#login a:focus{
  box-shadow: none;
}



#dash .emptydiv{
  height: 82px;
}
#dash .row{
  height: 485px;
}
#dash h2{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#dash button{
  background-color: #212529;
  color: #ffc107;
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#dash button:hover{
  background-color: #ffc107;
  color: #212529;
  border: 1px solid black;
}
#dash button:focus{
  box-shadow: none;
}



#mainimagemanagement .emptydiv{
  height: 82px;
}
#mainimagemanagement .row{
  min-height: 485px;
}
#mainimagemanagement h2{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#mainimagemanagement label{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mainimagemanagement input{
  box-shadow: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mainimagemanagement textarea{
  box-shadow: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mainimagemanagement input:focus{
  box-shadow: none;
}
#mainimagemanagement select:focus{
  box-shadow: none;
}
#mainimagemanagement button{
  background-color: #212529;
  color: #ffc107;
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#mainimagemanagement button:hover{
  background-color: #ffc107;
  color: #212529;
  border: 1px solid black;
}
#mainimagemanagement button:focus{
  box-shadow: none;
}
#mainimagemanagement .commonbtn{
  font-size: 15px;
}
#mainimagemanagement img{
  width: 100%;
}
#mainimagemanagement .img-fluid{
  width: 200px;
}
#mainimagemanagement .tableimg{
  width: 100px;
}
#mainimagemanagement table th{
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Cantarell', sans-serif;
}
#mainimagemanagement table td{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Year Of Establishment 1999,India's Trusted Welding Electrode,
1000+ Satisfied Customers,Good Quality Products */

/* We are the team of professions which provides the good quality welding electrode. We
believe in complete customer satisfaction and our method of making welding rod. We
export our product in all india to our customers. We use good quality materials for
making welding electrodes. Our materials export from delhi. We never compromise in our
business operations as we stick to the quality standards and we also believe that
quality will help us to gain trust among the people. All our experienced professionals
are motivated to deliver high quality products, therefore we have set up the quality
testing laboratory. We have won the trust of our customers all over India. Our goal is
to make India's best team of experts and make our products popular all over India, for
which we will need your support. In the end, we assure you that the quality of our
products is the best. */

/* We started the establishment of our company in 1999. In these years we have achieved
a lot. Meanwhile, we have significantly increased the quality of our products and the
number of customers. We have the certificate of Best Quality Product. */

/* We have a professional team having vast experience in this field. Our professionals
know very well that how to make a good quality product. The target of our team is to
improve the quality of our products. */

/* I've been in the welding industry for many years, and I can confidently say that kgn
electrodes is a best company in the field. Their welding rods have become an
indispensable part of my work, and I'm consistently impressed with the quality and
reliability they offer. */

/* This company always looking for ways to improve their products which makes my job
easier. It's clear they understand the evolving needs of welders in today's industry. */

/* kgn electrode is a perfect company for me.i have been buy product of this company
since many years */